html {
  background-color: #141414;
}

body {
  margin: 0px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #000000;
  color: #333;
  font-size: 16px;
  direction: ltr;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
  z-index: 2;
}

/* XS не работает корректно (из-за приоритетов), пока перенесла его прямо в кнопку */

/* .XS {
  font-size: 0.875 rem;
} */

.S {
  font-size: 1rem;
}

.M {
  font-size: 1.2rem;
}

.L {
  font-size: 1.875rem;
}

.XL {
  font-size: 5rem;
}

.lg {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.logo {
  position: relative;
  height: 45px;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  margin-top: 3rem;
}

/* Buttons */

.btn {
  display: block;
  position: relative;
  text-align: center;
  border: 1px solid #e50914;
  background-color: #e50914;
  border-radius: 3px;
  padding: 16px 19px;
  letter-spacing: 1.9px;
  width: max-content;
  height: max-content;
  font-size: 0.875rem;
}

.btn:hover {
  opacity: 0.9;
}

.btn.S {
  position: relative;
  text-align: center;
  border: 1px solid #e50914;
  padding: 0.3rem 1rem;
  background-color: #e50914;
  border-radius: 3px;
  vertical-align: middle;
  float: right;
  margin: 1.125rem 3% 0;
}

.btn.L {
  display: block;
  position: relative;
  text-align: center;
  border: 1px solid #e50914;
  background-color: #e50914;
  border-radius: 3px;
  margin: 2.8rem auto 2rem;
  padding: 1.75rem 2.5rem 1.75rem 3.25rem;
  width: max-content;
  font-size: 1.875rem;
}

.right-arrow {
  margin-left: 1rem;
}

.main_scr p.M {
  padding-top: 1rem;
}

.main_scr p a.L {
  letter-spacing: 1.9px;
}

.main_scr {
  position: relative;
  top: 8%;
  text-align: center;
  vertical-align: middle;
  bottom: 44px;
  text-align: center;
  max-width: 100%;
  min-height: 550px;
  justify-content: center;
  padding-top: 60px;
}

.XL, .L {
  margin: 0 0 1.875rem;
}

.XL, .L, .M, .S {
  z-index: 2;
  color: white;
  position: relative;
}

.showcase {
  background-image: url('imgs/bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  height: 93vh;
  width: 100%;
  position: relative;
  background-size: cover;
  z-index: 1;
}

.showcase::after {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  background-size: auto;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .5) 100%), radial-gradient(50% 120%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .7) 100%);
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Media query */

/* @media (max-aspect-ratio: 160/100) and (min-width: 1000px) .showcase {
  width: auto;
  height: 135%;
  top: 60%;
} */

.tiny-nav {
  background-color: #141414;
  padding-top: 15px;
  border-bottom: 2px solid #3d3d3d;
}

.tiny-nav-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  padding-top: 20px;
  width: 70%;
  justify-items: center;
  text-align: center;
  cursor: pointer;
  grid-gap: 0;
}

.tab-border {
  border-bottom: 4px solid #e50914;
}

.tab-container {
  height: 126px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.svg-icon {
  fill: #777777;
  display: block;
  height: 49px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 0.6rem;
}

.white-active .svg-icon {
  fill: #f3f3f3;
}

.tiny-nav div.S {
  color: #777777;
}

.tiny-nav-list div.tab-container:hover .svg-icon, .tiny-nav-list div.tab-container:hover {
  display: block;
  fill: #f3f3f3;
  color: #f3f3f3;
}

.white-active {
  fill: #f3f3f3;
  color: #f3f3f3 !important;
}

.module-selector {
  margin: 0 auto;
  padding: 40px 0;
  color: #ffffff;
  background-color: #000000;
}

/* 1st Page */

.module-1 {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  max-width: 1400px;
}

.img-page-1 {
  grid-column: 2/3;
  height: auto;
  max-height: 400px;
  width: auto;
  max-width: 100%;
}

.content-1 {
  grid-column: 1/2;
}

.content-1 p {
  font-size: 2rem;
  padding-top: 2.2rem;
  margin-bottom: 1.7rem;
}

/* 2d Page */

.module-2 {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70%;
}

.content-2 {
  grid-column: 1/3;
  margin-bottom: 3rem;
}

.img-page-2 {
  height: auto;
  width: 90%;
  padding-bottom: 0.6rem;
}

/* align-self - correct? */

.TV, .mobile, .laptop {
  text-align: center;
  align-self: flex-end;
}

.module-2 div.content-2 p {
  font-size: 1.875rem;
  margin-top: 0;
  margin-bottom: 1.7rem;
  text-align: left;
  vertical-align: top;
}

/* position и margin поправить отдельно для картинок и для текста */

.module-2 div p, .module-2 div img {
  position: relative;
  margin-bottom: 0;
  vertical-align: baseline;
}

.module-2 div p:nth-child(3) {
  color: #999999;
}

.headline-page-2 {
  font-size: 1.17rem;
}

.module-2 a.btn {
  margin: 0 auto auto;
}

/* 3rd Page */

.module-3 {
  display: grid;
  text-align: center;
  margin: 0 auto;
  width: 70%;
  max-width: 1400px;
}

.content-3 a.btn {
  margin: 0.5rem auto 0.5rem;
}

.content-3 {
  grid-row: 1/2;
  display: inline-block;
}

.content-3 p {
  font-size: 1.8rem;
  padding-top: 2.2rem;
  margin-bottom: 1rem;
}

table {
  grid-row: 2/3;
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  padding: 0.8rem;
}

td {
  color: #999999;
}

.td-icon {
  width: 1rem;
  height: auto;
}

.td-icon-close {
  width: 0.7rem;
  height: auto;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.table tbody tr td {
  color: #999;
  padding: 0.8rem 1.2rem;
  text-align: center;
}

.table tbody tr td:first-child {
  text-align: left;
}

.table tbody tr:nth-child(odd) {
  background: #222;
}

.footer {
  width: 70%;
  max-width: 1400px;
  margin: 1rem auto;
  overflow: auto;
}

.footer, .footer a {
  color: #999;
  font-size: 0.9rem;
}

.footer p {
  margin-bottom: 1.5rem;
}

.footer .footer-cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
}

ul {
  list-style: none;
}

.footer li {
  line-height: 1.9;
}

.footer {
  margin-top: 2rem;
  color: #999;
  background-color: #000;
  background-image: none;
  padding: 1rem 1.2rem;
  border-radius: 5px;
}

.hidden {
  display: none;
}